///*------------------------------------------------------*\
// KARIN VARIABLES
///*------------------------------------------------------*/

/**
 * STYLE GUIDE VARIABLES ------------------ Declarations of Sass variables
 * -----GENERAL
 * -----PATHS
 * -----TYPOGRAPHY
 * -----COLORS
 * -----SHADOWS
 * -----SPACINGS
 * -----SIZES
 * -----BORDERS
 * -----ANIMATIONS
 * -----GRID
 *
 * COMPONENTS
 * -----BUTTONS
 * -----TEXT FIELDS
 * -----CHECKBOX and RADIO
 */

// ==========  GENERAL  ========== //

$default-feature: min-width
$cursor-disabled: not-allowed

// ==========  TYPOGRAPHY  ========== //

$font-family-system: Arial, Helvetica, sans-serif
$font-family: 'Roboto', $font-family-system

$font-family-heading: 'Montserrat',$font-family
$font-family-serif: Georgia, "Times New Roman", Times, serif
$font-family-monospace: 'Fira Code', Menlo, Monaco, 'Courier New', Courier, monospace

$font-family-shelby-regular: 'shelby-regular', $font-family
$font-family-shelby-bold: 'shelby-bold', $font-family

$font-size-base-px: 14px
$font-size-small-px: 12px

$font-size: 1em
$font-size-xsmall: .7143em
$font-size-small: .8571em
$font-size-large: 1.143em
$font-size-xlarge: 1.286em

$letter-spacing: .02em

$font-size-heading-1: 24px
$font-size-heading-2: 18px
$font-size-heading-3: 16px

$font-weight-light: 300
$font-weight-normal: 400
$font-weight-medium: 500
$font-weight-bold: 700

$line-height-xsmall: 1
$line-height-small: 1.2
$line-height-base: 1.5
$line-height-large: 1.8
$line-height-xlarge: 2

$font-size-h1: $font-size-base-px * 2.25
$font-size-h2: $font-size-base-px * 2
$font-size-h3: $font-size-base-px * 1.65
$font-size-h4: $font-size-base-px * 1.375
$font-size-h5: $font-size-base-px * 1.25
$font-size-h6: $font-size-base-px

// ==========  PATHS  ========== //

$images-path : "/dist/images"
$fonts-path  : "/dist/fonts"

// ==========  COLORS  ========== //

// Blue pallete
$blue: #0288D1
$blue-lighten-1: #E5F3FA
$blue-lighten-2: #29B6F6
$blue-lighten-2: #039BE5
$blue-darken-1: #0277BD
$blue-darken-2: #01579B

// Yellow pallete
$yellow: #FFCA28
$yellow-lighten: #FFF9E6
$yellow-medium-1: #FFE57F
$yellow-medium-2: #FFD740
$yellow-darken: #FFC107

// Gray pallete
$gray: #bdbdbd
$gray-lighten-1: #EBEBEB
$gray-lighten-2: #E1E1E1
$gray-lighten-3: #CCCCCC
$gray-darken-1: #999999
$gray-darken-2: #757575
$gray-darken-3: #424242

// Green pallete
$green-lighten: #66bb6a
$green: #4caf50
$green-darken: #43a047

// Orange pallete
$orange-lighten: #ff9100
$orange: #f57c00
$orange-darken: #ef6c00

// Red pallete
$red-lighten: #ef5350
$red: #e53935
$red-darken: #d32f2f

// base pallete
$white: #fff
$black: #000
$text: $gray-darken-3
$background: $white
$link: $blue
$link-hover: $blue-lighten-2
$link-focus: $blue-darken-2

// status pallete
$primary: $blue
$success: $green
$warning: $orange
$info: $blue-lighten-2
$danger: $red

// social pallete
$facebook: #3b5998
$pinterest: #bd081c
$youtube: #cd201f
$instagram: #e1306c

// ==========  SHADOWS  ========== //

$z-1: 1px 2px 3px 0 rgba($gray-darken-2, .15)
$z-2: 0 4px 7px 0 rgba($gray-darken-2, .15)
$z-3: 0 6px 10px 0 rgba($gray-darken-2, .2)
$z-4: 0px 5px 13px rgba($black, .3)

// ==========  SPACINGS  ========== //

$spacing-xsmall: 10px
$spacing-small: 15px
$spacing: 20px
$spacing-medium: 30px
$spacing-large: 40px
$spacing-xlarge: 60px

// ==========  SIZES  ========== //

$height-xsmall: 20px
$height-small: 30px
$height-base: 40px
$height-large: 60px
$height-xlarge: 80px

// ==========  BORDERS  ========== //

$border-radius-small: 2px
$border-radius-base: 4px
$border-radius-large: 6px
$border-radius-xlarge: 8px

$border-color: $gray-lighten-1
$border: 1px solid $border-color

// ==========  ANIMATIONS  ========== //

$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;

$animation-curve-default: $animation-curve-fast-out-slow-in !default;

// ==========  GRID  ========== //

$enable-flex: true
$max-width-container : 64em // ~1024px
$array-directions: ( "", "top", "right", "bottom", "left" )
$array-spacings: ( xsmall: $spacing-xsmall, small: $spacing-small, base: $spacing, large: $spacing-large, xlarge: $spacing-xlarge )




///*------------------------------------------------------*\
// COMPONENTS
///*------------------------------------------------------*/

// ==========  BUTTONS  ========== //

$button-spacing: 0 1.2em
$button-bd-radius: $border-radius-base
$button-font-size: $font-size

$button-bd-radius-xsmall: $border-radius-small
$button-font-size-xsmall: $font-size-small

$button-bd-radius-small: $border-radius-small
$button-font-size-small: $font-size-small

$button-bd-radius-large: $border-radius-large
$button-font-size-large: $font-size-large

$button-bg-default: $gray
$button-default: $text
$button-bg-default-hover: darken($button-bg-default, 2%)

$button-bg-yellow: $yellow-darken
$button-yellow: $text
$button-bg-yellow-hover: darken($button-bg-yellow, 2%)

$button-bg-primary: mix($white, $primary, 20%)
$button-primary: $white
$button-bg-primary-hover: darken($button-bg-primary, 5%)

$button-bg-white: $white
$button-white: $text
$button-bg-white-hover: darken($button-bg-white, 5%)

// ==========  TEXT FIELDS  ========== //

$input-bg: $white
$input-color: $gray-darken-2
$input-box-shadow-focus: $blue
$input-border: $gray
$input-border-focus: $primary
$input-bg-disabled: $gray-lighten-2

// ==========  CHECKBOX ========== //

$checkbox-size: ($height-small / 2)
$checkbox-bg-hover: $gray
$checkbox-bg-unselected: $gray-lighten-2
$checkbox-bg-select: lighten($blue, 10%)
$checkbox-bg-disabled: $gray-lighten-1

// ========== RADIO  ========== //

$radio-size: ($height-small / 2)
$radio-bg-hover: $gray
$radio-bg-unselected: $gray-lighten-2
$radio-bg-select: lighten($blue, 10%)
$radio-bg-disabled: $gray-lighten-1
