///*------------------------------------*\
//          NEWS KARIN VARIABLES
///*------------------------------------*/

/**
 * STYLE GUIDE VARIABLES ------------------ Declarations of Sass variables
 * -----TYPOGRAPHY
 * -----COLORS
 * -----SHADOWS
 * -----SPACINGS
 */

// ==========  TYPOGRAPHY  ========== //

$font-family: 'Lato', Helvetica, sans-serif

$font-size-base-px: 14px
$font-size-small-px: 12px

$font-size-heading-1: 24px
$font-size-heading-2: 18px
$font-size-heading-3: 16px

$line-height-base: 1.5em

$font-weight-light: 300
$font-weight-regular: 400
$font-weight-bold: 700

// ==========  COLORS  ========== //

$white: #fff
$black: #000
$text: #424242

// Gray pallete
$gray-lighten-2: #ebebeb
$gray-lighten-1: #e0e0e0
$gray: #bdbdbd
$gray-darken-1: #989898
$gray-darken-2: #757575

// Blue pallete
$blue-lighten-2: #03a9f4
$blue-lighten-1: #039be5
$blue: #0288d1
$blue-darken-1: #0277bd
$blue-darken-2: #01579b

// Yellow pallete
$yellow-lighten: #ffe57f
$yellow: #ffd740
$yellow-darken: #ffc400

// Green pallete
$green-lighten: #66bb6a
$green: #4caf50
$green-darken: #43a047

// Orange pallete
$orange-lighten: #ff9100
$orange: #f57c00
$orange-darken: #ef6c00

// Red pallete
$red-lighten: #ef5350
$red: #e53935
$red-darken: #d32f2f

// status pallete
$success: $green
$warning: $orange
$info: $blue-lighten-1
$error: $red

// ==========  SHADOWS  ========== //

$z-1: 0 2px 4px rgba($black, .06), 0 4px 8px rgba($black, .12)
$z-2: 0 3px 12px rgba($black, .08), 0 6px 12px rgba($black, .15)
$z-3: 0 6px 12px rgba($black, .09), 0 12px 24px rgba($black, .2)

// ==========  SPACINGS  ========== //

$spacing-xsmall : 10px
$spacing-small  : 15px
$spacing        : 20px
$spacing-medium : 30px
$spacing-large  : 40px
$spacing-xlarge : 60px

// ==========  BORDERS  ========== //

$border-radius-small: 2px
$border-radius-base: 3px
$border-radius-large: 4px

// ==========  ANIMATIONS  ========== //
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;

$animation-curve-default: $animation-curve-fast-out-slow-in !default;
