// *********************************************************
// ----- button-variant ----- //
// -> Generates the color variations of buttons
// *********************************************************

//
// @parameters
//    $color - the texto color
//    $background - the background color
//    $background-hover - default is empty
=button-variant($color, $background, $background-hover: '')
  $bg-hover: darken($background, 5%)
  $bg-active: darken($background, 10%)

  @if $background-hover != ''
    $bg-hover: $background-hover
    $bg-active: darken($background-hover, 5%)

  color: $color
  background-color: $background

  &:hover,
  &:focus
    color: darken($color, 3%)
    background-color: $bg-hover

  &:active
    background-color: $bg-active

=button-size($font-size, $bd-radius)
  font-size: $font-size
  border-radius: $bd-radius
