// *********************************************************
//
// *********************************************************

=input-placeholder($color)
  $placeholder-color: rgba($color, .8)

  &::-webkit-input-placeholder
    color: $placeholder-color
    opacity: 1
  &:-moz-placeholder
    color: $placeholder-color
    opacity: 1
  &:-ms-input-placeholder
    color: $placeholder-color
    opacity: 1
  &::-moz-placeholder
    color: $placeholder-color
    opacity: 1

  +focus
    &::-webkit-input-placeholder
      color: $color
      opacity: 1
    &:-moz-placeholder
      color: $color
      opacity: 1
    &:-ms-input-placeholder
      color: $color
      opacity: 1
    &::-moz-placeholder
      color: $color
      opacity: 1
