// *********************************************************
//
// Placeholder for alerts
//
// *********************************************************

%alert
  padding: $spacing-small
  margin-bottom: $spacing-small
  box-shadow: 0 0 1px rgba($c-black, .2)
  border-radius: $bd-radius-base
  display: block
  width: 100%

  a
    text-decoration: underline

  p:last-child
    margin-bottom: 0
