// *********************************************************
//
// Placeholder for buttons
//
// *********************************************************

%button
  position: relative
  padding: $button-spacing
  cursor: pointer
  border: none
  display: inline-block
  vertical-align: middle
  text-decoration: none
  text-align: center
  white-space: nowrap
  font-family: inherit
  font-weight: $font-weight-normal
  line-height: $height-base
  user-select: none
  -webkit-user-drag: none
  zoom: 1
  box-shadow: $z-1
  transition: color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .015s ease-in-out

  +button-size(14px, 8px)
  +appearance(none)

  &[disabled]
    +plain-hover-focus
      cursor: not-allowed
      box-shadow: none
      opacity: .65

  +hover-focus
    box-shadow: $z-2
    text-decoration: none
    outline: none

%button-blue
  @extend %button
  +button-variant($white, $blue)

%button-yellow
  @extend %button
  +button-variant($text, $yellow)

%button-gray
  @extend %button
  +button-variant($text, $gray)

%button-green
  @extend %button
  +button-variant($text, $green)

%button-orange
  @extend %button
  +button-variant($text, $orange)

%button-red
  @extend %button
  +button-variant($text, $red)

%button-black
  @extend %button
  +button-variant($white, $black)

%button-white
  @extend %button
  +button-variant($text, $white)

%button-facebook
  @extend %button
  +button-variant($white, $facebook)

%button-pinterest
  @extend %button
  +button-variant($white, $pinterest)

%button-youtube
  @extend %button
  +button-variant($white, $youtube)

%button-instagram
  @extend %button
  +button-variant($white, $instagram)

%button-link
  @extend %button
  box-shadow: none
  text-decoration: underline
  +button-variant($link, transparent)

  &:hover
    color: $link-hover

%button-ghost
  @extend %button-link
  border: 1px solid $blue
  text-decoration: none

  &:hover,
  &:focus,
  &:active
    box-shadow: none
    +button-variant($white, $blue)
