///
///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public

%button
  position: relative
  padding: $button-spacing
  cursor: pointer
  border: none
  display: inline-block
  vertical-align: middle
  text-decoration: none
  text-align: center
  white-space: nowrap
  font-family: inherit
  font-weight: $font-weight-normal
  line-height: $height-base
  user-select: none
  -webkit-user-drag: none
  zoom: 1
  box-shadow: $z-1
  transition: color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .015s ease-in-out

  +button-size(14px, 8px)
  +appearance(none)

  &[disabled]
    +plain-hover-focus
      cursor: not-allowed
      box-shadow: none
      opacity: .65

  +hover-focus
    box-shadow: $z-2
    text-decoration: none
    outline: none

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-default
  +button-variant(lighten($button-default, 5%), lighten($button-bg-default, 5%))

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-blue
  +button-variant($white, $blue)

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-yellow
  +button-variant($text, $yellow)

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-gray
  +button-variant($text, $gray)

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-green
  +button-variant($text, $green)

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-orange
  +button-variant($text, $orange)

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-red
  +button-variant($text, $red)

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-black
  +button-variant($white, $black)

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-white
  +button-variant($text, $white)

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-facebook
  +button-variant($white, $facebook)

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-pinterest
  +button-variant($white, $pinterest)

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-youtube
  +button-variant($white, $youtube)

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-instagram
  +button-variant($white, $instagram)

///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-link
  box-shadow: none
  text-decoration: underline
  +button-variant($link, transparent)

  +hover
    color: $link-hover

  +hover-focus-active
    box-shadow: none
    background-color: transparent


///
/// @since 1.12.0
///
/// @group buttons
///
/// @access public
%button-ghost
  +button-variant($blue, transparent)
  box-shadow: none
  border: 1px solid $blue
  text-decoration: none

  +hover-focus-active
    box-shadow: none
    +button-variant($white, $blue)
