// *********************************************************
//
// Placeholders for checkbox and radio buttons
//
// *********************************************************

$c-bg-checkbox-hover      : $gray
$c-bg-checkbox-unselected : $gray-lighten-2
$c-bg-checkbox-select     : lighten($info, 10%)
$c-bg-checkbox-disabled   : $gray-lighten-1

%checkbox-radio
  display: block
  position: relative
  padding-left: ($checkbox-size + 10)
  cursor: pointer

  // Hide default browser input
  input
    position: absolute
    z-index: -1
    opacity: 0

%control__indicator
  position: absolute
  left: 0
  top: 2px
  height: $checkbox-size
  width: $checkbox-size
  background: $c-bg-checkbox-unselected
