// *********************************************************
//
// Placeholder for inputs
//
// *********************************************************

%input
  width: 100%
  display: block
  cursor: text
  background-color: $input-bg
  background-image: none
  background-clip: padding-box
  border: 1px solid $input-border
  border-radius: $border-radius-base
  line-height: 1
  vertical-align: middle
  color: $input-color
  padding: .5em
  font-family: $font-family
  font-size: $font-size
  box-shadow: 0 2px 0 rgba(darken($input-bg, 20%), .4)

  +transition(box-shadow .15s ease-in-out)

  +appearance(textfield)

  +input-control-focus($input-color, $input-bg)

  +input-placeholder($input-color)

  &::-ms-expand
    background-color: transparent
    border: 0

  &--disabled,
  &:disabled,
  &[readonly]
    background-color: $input-bg-disabled
    opacity: 1

  &--disabled,
  &:disabled
    cursor: $cursor-disabled
