// *********************************************************
//
// Placeholder for optmize fonts
//
// *********************************************************

%optimize-font
  font-smallooth: always
  -webkit-font-smalloothing: antialiased
  -moz-osx-font-smalloothing: grayscale
  text-rendering: optimizeLegibility
