@import "../configs"

ul,
ol
  &.lkd-list
    padding-left: to-rem($spacing-base)
    margin-bottom: to-rem($spacing-small)

  li
    ul,
    ol
      padding-left: to-rem($spacing-small)
      margin-bottom: 0

ul
  list-style: disc

ol
  list-style: decimal
