doctype html
html
  head
    meta(charset='utf-8')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

    title= title
    meta(name='description' content=description)

    // Docs Stylesheets
    link(type='text/css', href='/stylesheets/docs.css', rel='stylesheet')

    // Karin Stylesheets
    if production
      link(type='text/css', href='/stylesheets/karin.min.css', rel='stylesheet')
    else
      each file in stylesheets
        link(type='text/css', href='/stylesheets/' + file + '.css', rel='stylesheet')

    // Favicons
    link(rel='icon', href='/favicon.ico')
  body
    include ../includes/header.pug
    main.dc-main
      block content
